# ─── PostgreSQL ──────────────────────────────────
POSTGRES_DB=cbt
POSTGRES_USER=cbt_user
POSTGRES_PASSWORD=GANTI_PASSWORD_KUAT

# ─── Redis ───────────────────────────────────────
REDIS_PASSWORD=GANTI_REDIS_PASSWORD

# ─── NestJS API ──────────────────────────────────
DATABASE_URL=postgresql://cbt_user:GANTI_PASSWORD_KUAT@postgres:5432/cbt
REDIS_URL=redis://:GANTI_REDIS_PASSWORD@redis:6379
JWT_SECRET=GANTI_JWT_SECRET_64_KARAKTER_openssl_rand_base64_64
PORT=3001
WEB_URL=https://cbt.adilabs.id
NODE_ENV=production

# ─── Next.js ─────────────────────────────────────
NEXT_PUBLIC_API_URL=https://cbt.adilabs.id
NEXT_PUBLIC_WS_URL=https://cbt.adilabs.id
API_URL=http://api:3001
NEXTAUTH_URL=https://cbt.adilabs.id
NEXTAUTH_SECRET=GANTI_NEXTAUTH_SECRET_64_KARAKTER_openssl_rand_base64_64
